.square{
    width: 25px;
    height: 25px;
    outline: 1px solid grey;
    display: inline-block;
}
.square-start{
    background-color: green;
    outline: 1px solid black;
}
.square-finish{
    background-color: red;
    outline: 1px solid black;
}
.square-visited{
    background-color: yellow;
    outline: 1px solid black;
}

.square-wall{
    background-color: black;
    outline: 1px solid black;
}

.square-shortest-path{
    background-color: blue;
    outline: 1px solid black;
}
